{
  "extends": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier": [
      0
    ]
  },
  "plugins": ["prettier"],
  "globals": {
    "window": true
  }
}