---
version: 2.1

commands:
  s3deploy:
    description: "Deploy to S3"
    parameters:
      to:
        type: string
      cf_distribution_id:
        type: string
      dir:
        type: string
    steps:
      - run: |
          aws configure set preview.cloudfront true
      - run: |
          aws s3 sync ./<< parameters.dir >> s3://<< parameters.to >> \
            --acl public-read --delete \
            --cache-control max-age=31536000
      - run: |
          aws cloudfront create-invalidation \
              --distribution-id << parameters.cf_distribution_id >> \
              --paths /\*

jobs:
  test:
    docker:
      - image: circleci/node:11.12
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies for lint and test
          command: yarn
      - save_cache:
          key: yarn-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.npm
      - run:
          name: Lint project & run test
          command: yarn test
      - run:
          name: Set env variables
          command:
            echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: build staging
          command: REACT_APP_NODE_ENV=STAGING yarn build:staging
      - run:
          name: build production
          command: REACT_APP_NODE_ENV=PRODUCTION yarn build:production
      - persist_to_workspace:
          root: .
          paths:
            - staging
            - production

  e2e:
    docker:
      - image: cypress/base:10
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - e2e-dependencies-{{ checksum "yarn.lock" }}
            - e2e-dependencies-
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: e2e-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: End-to-end test
          command: yarn e2e

  deploy_staging:
    docker:
      - image: circleci/python:3.6-jessie
    working_directory: ~/deploy
    environment:
      PUBLIC_URL: https://staging.forms.codeyourfuture.io
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set env variables
          command: echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - s3deploy:
          dir: staging
          to: "staging.forms.codeyourfuture.io"
          cf_distribution_id: E3MJAA9E60TZUB

  deploy_production:
    docker:
      - image: circleci/python:3.6-jessie
    working_directory: ~/deploy
    environment:
      PUBLIC_URL: https://forms.codeyourfuture.io
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set env variables
          command: echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - s3deploy:
          dir: production
          to: "forms.codeyourfuture.io"
          cf_distribution_id: E3MHHTOV68A76Q

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test:
          context: build
      - e2e:
          context: build
      - deploy_staging:
          context: deployments_staging
          requires:
            - test
            - e2e
          filters:
            branches:
              only:
                - staging
      - deploy_production:
          context: deployments
          requires:
            - test
            - e2e
          filters:
            branches:
              only:
                - master
