---
version: 2.1

commands:
  s3deploy:
    description: "Deploy to S3 and invalidate cache"
    parameters:
      to:
        type: string
    steps:
      - run: |
          aws configure set preview.cloudfront true
          aws s3 sync staging/ s3://<< parameters.to >> \
            --acl public-read --delete \
          aws s3 sync staging/static s3://<< parameters.to >>/static \
            --acl public-read --delete \
            --cache-control max-age=31536000
          aws cloudfront create-invalidation \
              --distribution-id $CLOUDFRONT_DISTRO_ID \
              --paths /index.html /asset-manifest.json

jobs:
  test:
    docker:
      - image: circleci/node:11.12
        REACT_APP_NODE_ENV: STAGING
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies for lint and test
          command: yarn
      - run:
          name: Lint project & run test
          command: yarn test
      - run:
          name: Set env variables
          command: 
            echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: build staging
          command: yarn build:staging
      - run:
          name: build production
          command: yarn build:production
      - persist_to_workspace:
          root: .
          paths:
            - staging
            - production

  deploy_staging:
    docker:
      - image: circleci/python:3.6-jessie
    working_directory: ~/deploy
    environment:
      PUBLIC_URL: https://staging.forms.codeyourfuture.io
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set env variables
          command: echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - s3deploy:
          to: "staging.forms.codeyourfuture.io"

  deploy_production:
    docker:
      - image: circleci/python:3.6-jessie
    working_directory: ~/deploy
    environment:
      PUBLIC_URL: https://forms.codeyourfuture.io
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set env variables
          command: echo 'export VERSION=$(echo $CIRCLE_SHA1 | cut -c -7)' >> $BASH_ENV
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - s3deploy:
          to: "forms.codeyourfuture.io"

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test:
          context: build
      - deploy_staging:
          context: deployments_staging
          requires:
            - test
          filters:
            branches:
              only:
                - staging
      - deploy_production:
          context: deployments
          requires:
            - test
          filters:
            branches:
              only:
                - master
