.question {
    padding: 20px 17px;
    page-break-inside: avoid;
}
.question_title {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.5em;
    max-width: 100%;
    font-weight: unset;
    color: rgb(77, 77, 77);
    overflow-wrap: break-word;
    hyphens: auto;
}
.question-isRequired .question_title::after {
    content: '*';
    display: inline-block;
    margin-left: 10px;
    color: #c5221f;
}
.question_description {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(52, 113, 130);
}
.question_shortAnswer {
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(52, 113, 130);
    -webkit-appearance: none;
    transform: translateZ(0);
    font-size: 16px;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
    padding: 0 0 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0;
    transition: box-shadow 0.2s ease 0s;
    background: none;
}
.question_dropdownAnswer {
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(52, 113, 130);
    -webkit-appearance: none;
    transform: translateZ(0);
    font-size: 16px;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
    padding: 0 0 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0;
    transition: box-shadow 0.2s ease 0s;
    background: none;
}

.question_shortAnswer:not(:focus) {
    box-shadow: rgba(52, 113, 130, 0.3) 0 1px;
}
.question_answers {
    display: inline-block;
}
.question_checkboxesAnswer {
    display: flex;
    min-width: 150px;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(52, 113, 130);
}

.question_checkboxesAnswer input {
    margin-right: 10px;
}

.question_grid {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

.question_grid_label {
    display: block;
}

.question_grid td,
.question_grid th {
    padding: 15px;
}

.question_grid thead th,
.question_grid tbody td {
    width: 10%;
    text-align: center;
}

.question_grid thead th {
    vertical-align: top;
}

.question_grid tbody tr:nth-child(even) td,
.question_grid tbody tr:nth-child(even) th {
    background-color: #eee;
}

.question_grid label {
    display: block;
}
