.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(248, 249, 250);
  height: 60px;
  padding: 20px 0;
  bottom: 0;
}

.list-inline {
  margin-bottom: 0%;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 10px 0;
  }
}
