{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-alert": "off",
    "eact/no-danger": "off",
    "semi": "off"
  },
  "plugins": ["prettier"],
  "globals": {
    "window": true
  }
}
