#cyf-form {
  width: 880px;
  max-width: 90%;
  margin: 30px auto;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
}
h1 {
  line-height: 1.2em;
}
@media only screen and (max-width: 800px) {
  #cyf-form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    overflow-y: scroll;
  }
}
