.block {
  display: block;
}

.hidden {
  display: none;
}
.error {
  color: red;
  text-align: center;
}
.success {
  color: green;
  text-align: center;
}
.thanks-message,
.important-message {
  font-size: 1.5rem;
}

.application-form {
  display: flex;
}
.application-form-block {
  width: 50%;
  margin: 2%;
}

.link-message {
  font-size: 1.8rem;
}

.ApplicationForm input,
.ApplicationForm select {
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.6);
}
.ApplicationForm {
  padding: 0 20%;
}
.ApplicationForm input::-webkit-input-placeholder,
.ApplicationForm input::-moz-input-placeholder,
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.submit-form {
  text-align: center;
  margin-top: 30px;
}
.submit-form button {
  padding: 10px 30px;
  font-size: 1.3rem;
}
.login-form {
  padding: 0 20%;
}

.previous-button {
  font-size: 30px;
  width: 60px;
  background-color: gray;
}
.application-submit-btn {
  width: 50%;
  margin-left: 50%;
  min-height: 50px;
}
.next-button {
  height: 60px;
  width: 80px;
}
.check-password {
  position: absolute;
  width: 80%;
  background-color: rgba(255, 255, 255);
  padding: 5%;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  margin: 2% 10%;
}
.sign-in-box-item {
  width: 50%;
  padding: 1%;
}
.sign-up-btn {
  background: #00a3ff;
  border-radius: 5px;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}
.application-form-section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.application-form-section-one-items {
  min-width: 45% !important;
  max-width: 45% !important;
}
.form-control {
  height: 50px;
  background: #ffffff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.outline-container {
  background: #ffffff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: calc(2.875rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  display: block;
  width: 100% !important;
  color: #495057;
  border: 1px solid #ced4da !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.is-empty {
  box-shadow: 2px 5px 10px rgba(255, 0, 0, 0.904);
}
.is-invalid.outline-container {
  border: 1px solid red !important;
}
.date--input {
  width: 50px !important;
}
.form-container {
  width: 50%;
  margin-top: 2%;
}
.react-phone-number-input__icon {
  width: 2em !important;
  height: 1.5em !important;
  border: none !important;
  box-sizing: content-box;
}
.tel-preview {
  font-size: 14px;
  margin-left: 30px;
  color: rgb(109, 101, 101);
}
@media screen and (max-width: 1000px) {
  .form-container {
    width: 100%;
  }
  .ApplicationForm {
    padding: 0;
  }
  .login-form {
    padding: 0;
  }
  .application-submit-btn {
    width: 100%;
    margin-left: 0;
  }
  .check-password {
    position: absolute;
    width: 95%;
    /* padding: 2%; */
    margin: 5% 0;
  }
  .application-form {
    display: block;
  }
  .application-form-block {
    width: 100%;
    margin: 0;
  }
  .sign-in-box-item {
    width: 100%;
    margin-top: 2%;
  }
  .sign-up-btn {
    width: 100%;
  }
  .application-form-section-one-items {
    min-width: 100% !important;
  }
}
